{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

</head>

<body>

    <div class="lg:w-5/12">

        <div class="bg-white  shadow-md rounded-md overflow-hidden">

            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                <h2 class="font-semibold text-lg">Here Are You With The Search Result for "{{username}}"</h2>
                <!-- <a href="#"> Refresh</a> -->
            </div>
            {% for user_profile in searched_user_profile_list %}
            <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
                <div class="flex items-center justify-between py-3">
                    <div class="flex flex-1 items-center space-x-4">
                        <a href="{{user_profile.profileimg.url}}">
                            <img src="{{user_profile.profileimg.url}}" class="bg-gray-200 rounded-full w-10 h-10">
                        </a>
                        <div class="flex flex-col">
                            <span class="block capitalize font-bold"><a
                                    href="profile/{{user_profile.user.username}}">{{user_profile.user.username}}</a></span>
                            <span class="block capitalize text-sm"> {{user_profile.bio}} </span>
                            <span class="block capitalize text-sm"><b>{{user_profile.user.username}}'s Location:</b>
                                {{user_profile.location}} </span>
                        </div>
                    </div>

                    <a href="profile/{{user_profile.user.username}}"
                        class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 ">
                        Follow/Unfollow </a>
                </div>
            </div>
            {% endfor %}

        </div>



    </div>




    <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>